.banner {
    width: 100%;
    overflow: hidden;
    position: relative;

  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .banner-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    flex-shrink: 0;
    object-fit: contain;
    background-color:#97c5f3;
  }
  