{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/banner.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">

{% endblock %}

{% block content %}
<section class="banner">
    <div class="slider">
      <img src="{% static 'assets/11.jpeg' %}" alt="Banner 1" class="banner-img">
      <img src="{% static 'assets/22.jpeg' %}" alt="Banner 2" class="banner-img">
      <img src="{% static 'assets/33' %}" alt="Banner 3" class="banner-img">
      <img src="{% static 'assets/44' %}" alt="Banner 4" class="banner-img">
    </div>
  </section>
  
  
  
  
  
<br>




<div class="container">
    <h1 style="text-align: center;">Products</h1>
    <hr>
    <br>
        <div id="product-list" class="product-container">
            {% for product in products %}
            <div  >
             <img src="{{ product.image.url }}" alt="{{ product.name }}">
             <h2>{{ product.name }}</h2>
             <p>₹{{ product.price }}</p>
             <div class="button-group">
                <a href="{% url 'add_to_cart' product.id %}">
                    <button class="btn-primary">Add to Cart</button>
                </a>
                <a href="{% url 'add_to_cart' product.id %}">
                    <button class="btn-primary buy-now">Buy Now</button>
                </a>
            </div>

             <a href="{% url 'product_detail' product.id %}">View Details</a>
         </div>
         {% empty %}
         <p>No products available.</p>
        {% endfor %}
        
        </div>
 </div>


{% endblock %}
