{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}

{% block content %}


    <div class="container">
        <h2>Product List</h2>
        <a href="{% url 'product_create' %}" class="add-btn">+ Add Product</a>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Image</th> <!-- New -->
                        <th>Name</th>
                        <th>Price (₹)</th>
                        <th>Stock</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 60px; height: auto;">
                            {% else %}
                                No image
                            {% endif %}
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.brand.name }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>
                            <a href="{% url 'product_update' product.id %}" class="edit-btn">Edit</a>
                            <!-- <a href="{% url 'product_delete' product.id %}" class="delete-btn">Delete</a> -->
                            <a href="{% url 'product_delete' product.id %}" class="delete-btn" onclick="return confirm('Are you sure you want to delete {{ product.name }}?');">Delete</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
